﻿@using Microsoft.AspNetCore.Mvc.Localization;
@model EucApplication.Models.User

@inject IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["CreateUser"];
}

<h4>@localizer["CreateUser"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">@localizer["FirstName"]</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">@localizer["LastName"]</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthCertificateNumber" class="control-label">@localizer["BirthCertificateNumber"]</label>
                <input asp-for="BirthCertificateNumber" class="form-control" onchange="GetDateOfBirth()" type="number" />
                <span asp-validation-for="BirthCertificateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="checkbox" id="checkboxBirthCertificateNumber" onchange="SetBirthCertificateNumberRequired()" checked>
                <label for="checkboxBirthCertificateNumber">@localizer["checkboxBirthCertificateNumber"]</label>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label">@localizer["DateOfBirth"]</label>
                <input asp-for="DateOfBirth" class="form-control" type="date" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">@localizer["Gender"]</label>
                <select asp-for="Gender" class="form-control" asp-items="Model.Genders"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">@localizer["Email"]</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Citizenship" class="control-label">@localizer["Citizenship"]</label>
                <select asp-for="Citizenship" class="form-control"  asp-items="Model.Citizenships"></select>
                <span asp-validation-for="Citizenship" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GdprAccepted" /> @localizer["GdprAccepted"] <a asp-controller="Users" asp-action="OpenPdf" target="_blank">@localizer["TermsAndConditions"]</a>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value=@localizer["Send"] class="btn btn-primary" />
            </div>
            
           
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function GetDateOfBirth() {

        let birthCertificateNumber = document.getElementById("BirthCertificateNumber").value;
        let birthCertificateNumberLength = birthCertificateNumber.length;
        let dateOfBirth = birthCertificateNumber.slice(0, 6);
        let day;
        let month;
        let year;
        var finalDateOfBirth;

        if (birthCertificateNumberLength == 9) {
            dateOfBirth = "19" + dateOfBirth;
           
        } 
        else if (dateOfBirth.substring(0, 2) >= 0 && dateOfBirth.substring(0, 2) <= 54) {
            dateOfBirth = "20" + dateOfBirth;
        }else{
            dateOfBirth = "19" + dateOfBirth;
        }
        year = dateOfBirth.substring(0, 4);
        month = dateOfBirth.substring(4, 6);
        day = dateOfBirth.substring(6, 8);

        if(month > 50){
            month = month-50;
        }
        
        dateOfBirth = month + "-" + day + "-" + year;
        finalDateOfBirth = new Date(dateOfBirth);
              
        document.getElementById("DateOfBirth").valueAsDate = finalDateOfBirth;
    }

    function SetBirthCertificateNumberRequired(){
        var checkBox = document.getElementById("checkboxBirthCertificateNumber");
        
        if(checkBox.checked == true){
            document.getElementById("BirthCertificateNumber").setAttribute('required', '');
            
            document.getElementById("BirthCertificateNumber").disabled = false;
        }else{
            document.getElementById("BirthCertificateNumber").removeAttribute('required');
            document.getElementById("BirthCertificateNumber").value = "";
            document.getElementById("BirthCertificateNumber").disabled = true;
        }

    }

</script>
