﻿@using Microsoft.AspNetCore.Mvc.Localization;
@model EucApplication.JsonGenerator
@inject IViewLocalizer localizer

<h4>@localizer["GeneratedJson"]</h4>
<h6> @Model.Json</h6>

<p>
    
    <a href="/Users/Create">@localizer["BackToCreate"]</a>
</p>